body{
    background-image: url(./vecteezy_abstract-background-beautiful-colors-background-with_.jpg);
    /* background-size: 100%; */
    font-family:cursive;
}
#ninjas{
    height:100px;
    width: 90%;
    border: 5px solid black;
    margin: 3% 5%;
    display: flex;
    align-items: center;
    /* hiii */
    justify-content: center;
}
#setalerm{
    height: 60px;
    width: 130px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-right: 150px;
    transition: 0.5s ease-in-out;
}
#setalerm:hover{
    background-color: aliceblue;
    opacity: 0.6;
}
#clearalarm{
    height: 60px;
    width: 130px;
    display: flex;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: red;
    transition: 0.5s ease-in-out;
}
#ad{
    display: inline;
}
#clearalarm:hover{
    background-color: aliceblue;
    opacity: 0.6;
}
#time1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.alarmtimebody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em 2em 0 2em;
    margin-top: -20px;
    margin-bottom: 20px;
}
.time {
    width: 100%;
    padding: 0.5em 0.6em;
    background:#b6d633;
    border-radius: 6px;
}
label {
    letter-spacing: 0.1em;
    margin:5px 10px;
    border-radius: 10px;
    width: 70px;
}

#button{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Recent{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-weight: bolder;
}
hr{
    height: 5px;
    width: 50%;
    background-color: black;
}
#panding{
    width: 30%;
    margin-left: 40%;

}
#incomplete-alarms{
    list-style-type: none;
    font-weight: bold;
}